.app-wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app-container{
  width: 30vw;
  background-color: lightblue;
  height: 85vh;
  position: relative;
}